div a {
    display: block;
    color: #fff;
    height: 60px;
    width: 250px;
    text-decoration: none;
    line-height: 60px;
    background-color: rgba( 255, 193, 203, 0.5);
}

div a:hover {
    background-color: skyblue;
    color: rgba( 255, 193, 203, 1);
}